*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: gray;
    display: flex;
    justify-content: center;  
    align-items: center;  
    min-height: 100vh;  
    margin: 0;
    background: #E6EAF8;
}
.container{
    background: white;
    font-family: Merriweather;
    max-width: 1013px;
    padding: 100px;
    margin-inline: auto;
    border-radius: 10px;
}
h1{
    font-size: 32px;
    font-weight: 900;
}

.container .search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 4rem;
    
}

.container .search .form_search>img{
    width: 24px;
    height: auto;
    position: absolute;
    top:50%;
    left: 8px;
    transform: translateY(-50%);
}



.search .form_search > input{
    width: 295px;
    height: 32px;
    padding: 16px 16px 16px 32px;
    font-weight: 400;
}

.container .menu >ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.container .menu >ul >li{
    padding: 16px;
}

.container .menu >ul >li >a{
    color: var(--151-b-32, #151B32);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container .menu >ul >li:hover{
    background-color: blue;
    border-radius: 8px;
    background: #849FFF;
    padding: 16px;
}
.container .menu >ul >li >a:hover{
    color: #FFF;
}

.menu >ul >li{
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu >ul >li >a{
    text-decoration: none;
}

.card{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.content{
    display: flex;
    width: calc(100% / 3 - 11px);
    padding: 24px;
    height: 160px;
    width: 260px;
    border-radius: 16px;
    background: #FBFCFF;
    align-items: center;
}

.content >img{
    margin-right: 16px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}
.content .content_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .content_card >h2{
    color: var(--151-b-32, #151B32);
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content .content_card >p{
    color: var(--151-b-32, #151B32);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.content .content_card >div >span{
    color: #516FD4;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 1px solid var(--bfc-8-e-6, #BFC8E5);
    background: #FFF;
    padding: 2px 8px;
}

.card .content:hover{
    border-radius: 16px;
    border: 1px solid #BFC8E5;
    background: #FBFCFF;
    box-shadow: 0px 8px 23px 0px rgba(218, 224, 249, 0.70);
}